@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;700&display=swap");

/* @tailwind base;
@tailwind components;
@tailwind utilities; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.6;
  color: #b3b3b3;
  font-family: "Space Grotesk", sans-serif;
  font-size: 12px !important;
  background-color: #121212;
}

@media screen and (min-width: 992px) {
  body {
    font-size: 14px;
  }
}

#spotify {
  display: flex;
  height: 100vh;
  overflow: hidden;
  padding-bottom: 5rem;
}

@media screen and (min-width: 992px) {
  #spotify {
    margin-bottom: 0;
  }
}

p,
ul,
hr {
  margin: 0;
  padding: 0;
}

main {
  width: inherit;
  overflow: scroll;
  background-color: #121212;
}

#main {
  padding: 0.5rem 1rem;
}

@media screen and (min-width: 992px) {
  #main {
    padding: 1rem 2rem;
  }
}

.artiste-item {
  font-size: 14px;
}

.artiste-item + .artiste-item::before {
  white-space: pre;
  content: ", ";
}

.artiste-item:hover {
  text-decoration: underline;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80%;
}

a {
  color: #b3b3b3;
  text-decoration: none;
}

.none {
  /* position: absolute; */
  bottom: 4.1rem;

  position: fixed;
  z-index: 999999;
}

@media screen and (min-width: 992px) {
  .none {
    bottom: 0;
  }
}
