@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;700&display=swap");

/* @tailwind base;
@tailwind components;
@tailwind utilities; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.6;
  color: #b3b3b3;
  font-family: "Space Grotesk", sans-serif;
  font-size: 15px;
  background-color: #000;
}

#spotify {
  display: flex;
  background-color: #000;
  height: 100vh;
  overflow: hidden;
}

p,
ul,
hr {
  margin: 0;
  padding: 0;
}

main {
  /* background-color: rgb(56, 72, 48, 0.4); */
  width: inherit;
  padding: 1rem 2rem;
  overflow: scroll;
  /* background-color: rgb(55, 57, 55); */
}

.artiste-item + .artiste-item::before {
  white-space: pre;
  content: ", ";
}
